body{
    font-family:Times;
    font-size: 100%;
    color:#000;
    background-color:#fff;
}

.special{
    font: italic 100%/1.5em Arial, Helvetica, sans-serif;
    background: #bCCAF8 url(gldstar.gif) no-repeat top right;
    padding:15px 25px 15px 20px;
    border: 1px solid #fff;
    margin: 10px 5px 10px 1px;

}