body{
    font: 100%/1.5em Verdana, Arial, sans-serif;
    color:#000;
    background: #996;
    text-align: center;
}
#wrapper{
    width:760px;
    background: #fff;
    text-align: left;
    margin:0 auto;
    font-size: 0.8em;
}
#header{
    background:#dccbac;
}
#header h1{
    font: bold 2.2em Georgia, "Times New Roman", Times, serif;
    color:#333;
    margin: 0 auto;
    padding: 30px 58px;
    float:left;
}
#logo{
    /*float:right;*/
    width:117px;
    height:97px;
    position:relative;
}
#navigation{
    width:140px;
    float:left;
    padding:15px 10px;

}
#navigation ul li{
    list-style: none;
    line-height:1.7em;
}
#navigation a:link{
    color:#030;
    text-decoration: none;
}
#navigation a:focus, #navigation a:hover{
    color:#600;
    background: #ffff00;
    text-decoration: underline;
}
#sidebar{
    background: #877D6C;
    width:144px;
    float:right;
    padding: 15px 8px 8px 8px;
    margin:0;
}
#content{
    margin:0 165px;
    padding: 15px;
    border:thin solid #ccc;
}
#brclear{
    clear: both;
}
#footer{
    padding:10px;
    border: 1px solid #ccc;
    color:#999;
    font-size:0.7em;
}
.left{
    float:left;
    margin:0 10px 10px 0;
}
.right{
    float:right;
    margin:0 0 10px 10px;
}
.horizontal{
    width:117px;
    text-align: center;
    font-size: 0.75em;
}
.vertical{
    width:117px;
    text-align: center;
    font-size: 0.75em;
}
