body{
    font-family: Times;
    font-size: 100%;
    color:#000;
    background-color:#fff;
}
p{
    font-size:100%;
    line-height:1.5em;
}
.special{
    border-color:#1c1c1c;
    border-width:5px;
    border-style: solid;
    background-color: #bCCAF8;
    padding:30px;
    margin:50px;
    background-image: url(gldstar.gif);
    background-repeat: no-repeat;
}