body{
    font:100% Verdana;
    color: #000000;
    /*background:#cccccc;*/
}

p{
    font: 1em/1.5em Times;
}
#wrapper{
    width:760px;
    margin: 0 auto;

}
span{
    font-style: italic;
    font-weight: bold;
}
#content{
    font:  100%/1.5em Arial, Helvetica, sans-serif;
    padding:15px 25px 15px 20px;
    border: 1px solid #fff;
    margin: 10px 5px 10px 1px;
}
#footer p{
    font-size:.8em;
    color:#666;
}
#footer a{
    color:#3860B8;
    font-size: 1.2em;
    text-decoration:none;
}
#footer a:hover{
    text-decoration:underline;
}
a[href^="http:"]{
    padding:2px 16px 1px 0;
    background: url("pdficon_small.gif") no-repeat center right;
}
a[href^="mailto"]{
    padding:0 16px 0 0;
    background: url("mail.gif") no-repeat center right;
}
a[href$="docx"]{
    padding: 0 20px 0 0 ;
    background: url("MSWord_icon.gif") no-repeat center right;
}
a[href$="pdf"]{
    padding:0 20px 0 0;
    background: url("pdficon_small.gif") no-repeat center right;
}