p em{
    font-weight:bold;
    color:blue;
}
h1 em{
    color:blue;
}
h2 em{
    color:blue;
}
.para1,.para3{
    color:green;
}
.para2{
    color:blue;
}
a{
    text-decoration: none;
}
a:link{
    color: #660000;
}
a:visited{
    color: #660099
}
a:hover{
    color:#ffffff;
    background-color:#000000;
}
a:active{
    color: #ffff00;
    background-color: #000099;

}